<h3>Please reach me on this phone number in case of an emergency : {{ phoneNumber | mobileNumber  }}</h3>

<div>
  <h1>
    Please enter your username : <input type="text" appHoverChangeColor><br/>
    Please enter your password : <input type="text" appHoverChangeColor><br/>
    Welcome to {{ title | uppercase }}!
  </h1>
</div>
<table border="1" bgcolor="lightblue" cellspacing="10" cellpadding="10">
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Quantity On Hand</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let prod of products">
      <td>
        {{prod.productId}}
      </td>
      <td>
        {{prod.productName | uppercase}}
      </td>
      <td>
        {{prod.quantityOnHand}}
      </td>
      <td>
           <div id="price" class="price"> {{prod.price | currency:'USD' }} </div>
      </td>
    </tr>
</table>
